<html>
    <head>
        <title>creating emp</title>
    </head>
    <body>
        <div>
            <form action="/Home/Create" method="post">
                <table>
                    <tbody>
                        <tr>
                            <td>name</td>
                            <td>
                                <input type="text" name="name"/>
                            </td>
                        </tr>
                        <tr>
                            <td>email</td>
                            <td>
                                <input type="text" name="email"/>
                            </td>
                        </tr>
                        <tr>
                            <td>age</td>
                            <td>
                                <input type="text" name="age"/>
                            </td>
                        </tr>
                        <tr>
                            <td>dept</td>
                            <td>
                                <input type="text" name="dept"/>
                            </td>
                        </tr>
                        <tr>
                            <td>salary</td>
                            <td>
                                <input type="text" name="salary"/>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <center>
                                    <input type="submit" name="btnCreate" value="AddRecord"/>
                                </center>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </body>
</html>